<div id="contact">

  <h1>Contact me</h1>


  <div style="width: 300px;display: inline-block;margin-left: auto;margin-right: auto;">

    <p><i class="fas fa-home"></i> Kiryat Motzkin, Israel</p>

    <p><i class="fas fa-envelope"></i> Daniel.daniel.ran@gmail.com</p>

    <p><i class="fas fa-phone"></i> 054-2571330</p>

    <p><i class="fab fa-github" style="font-size: 20px;"></i> <a href="https://github.com/DanielRan97" target=”_blank”>
        <u>GitHub</u> </a></p>

    <p><i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/daniel-ran-4b31961b6/"
        target=”_blank”><u>LinkedIn</u></a></p>

  </div>



</div>
