#contact{
    text-align: center;
    margin-top: 100px;
    background-color: darkcyan ;
    width: 100%;
    position: absolute;

}

h1 {
    font-family: 'Unna', serif;
    font-size: 72px;
    color: #4f4f4f;
    font-weight: bold;
  
  }

  i{
    float: left;
  }

  a{
    color: black;
  }

  a:hover{
      color: white;
  }

  @media(max-width : 360px){
      h1{
          font-size: 40px;
      }
  }