#skills{
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-family: 'Unna', serif;
    font-size: 72px;
    color: #4f4f4f;
    font-weight: bold;
  
  }

img{
  
    height: 183px;
    width: 275px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

img:hover{

    box-shadow:0 4px 56px 0 rgba(0, 0, 0, 0.2), 0 6px 38px 0 rgba(0, 0, 0, 0.19);
  
}

