<div id="projects">

    <h1>Main project</h1>

<div id="imgDiv">

    <div id="project1">
    <img src="/assets/caseProject.jpg">

    <h3>Phone Covers</h3>
<p>
    Phone cases app with Admin interface : products,orders and news letter.<br/>
    This app was created for a college project.<br/>
    This app was created with Angular for the front-end
    And c# + fireBase for the back-end.
</p>

<a href="https://github.com/DanielRan97/PhoneCover">Link to GitHub <i class="fab fa-github"></i></a>
<a href="https://github.com/DanielRan97" style="display: block;font-size: 30px;margin-top: 10px;">For more projects <i class="fab fa-github-square"></i></a>
</div>
<hr/>
<div id="project2">
    <img src="/assets/movieList1.jpg">

    <h3>Movie List</h3>
<p>
    Movie List app created for collage test. <br/>
    in this project you can save favorite movies from imbd
    and sort by category. <br/>
    this app created with Angular for the front-end
    And fireBase for the back-end.
</p>

<a href="https://github.com/DanielRan97/Movie-List">Link to GitHub <i class="fab fa-github"></i></a>
<a href="https://github.com/DanielRan97" style="display: block;font-size: 30px;margin-top: 10px;">For more projects <i class="fab fa-github-square"></i></a>
</div>
</div>